
ckp/
data
cmd/
log/
tb_dir/
__pycache__/
*/__pycache__/
*/build/
*/dist/
*_cuda.egg-info/
.idea/

flownet/**/*.so
src/info_odometry/info_odometry/flownet/channelnorm_package/build/
src/info_odometry/info_odometry/flownet/channelnorm_package/dist/
src/info_odometry/info_odometry/flownet/correlation_package/build/
src/info_odometry/info_odometry/flownet/correlation_package/dist/
src/info_odometry/info_odometry/flownet/resample2d_package/build/
src/info_odometry/info_odometry/flownet/resample2d_package/dist/






.vscode/settings.json

build/

install/

monitoring*.csv
