pytz
torch==1.13.0
tensorboard
tensorboardX
sympy
pybind11
cython
numpy
numpy-quaternion
numba
scipy
scikit-image
colorama
setproctitle
tqdm
cffi
pillow
pyquaternion
quaternion
transforms3d
torchvision==0.14.0
pandas
matplotlib
pytorch3d